{% extends 'base.html' %}

{% block content %}
	<nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
		<div class="container-fluid">
			<div class="collapse navbar-collapse d-lg-flex" id="header">
				<a class="navbar-brand col-lg-3 me-0" href="#">Artifact Game Inventory</a>
				<ul class="navbar-nav col-lg-6 justify-content-lg-center">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">{{ nama }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'main:create_item' %}">Add Item</a>
					</li>
				</ul>
				<div class="d-lg-flex col-lg-3 justify-content-lg-end">
					<a class="nav-link" href="{% url 'main:logout' %}" <button class="btn btn-primary">Logout</button></a>
				</div>
			</div>
		</div>
    </nav>
	
	<div class = "container mt-5">
		<div class="card">
			<div class="card-body">
				<h1>Artifact List</h1>
				<p>Username : {{ nama }}</p>
				<p>Last login: {{ last_login }}</p>
				<p>Kelas : {{ kelas }}</p>
				<p>Ada {{ item_counter }} jenis item dalam inventory {{ nama }}</p>
				<p>Ada total {{ item_sum }} item dalam inventory {{ nama }}</p>
			</div>
		</div>
	</div>
	
	<div class="container mt-5">
		<div class="row">
			{% for item in items %}
			<div class="col-lg-4 mb-4">
				<div class="card {% if forloop.last %}" style="color: gold;"{% endif %}">
					<div class="card-body">
						<h3 class="card-title">{{item.name}}<h3>
						<p class="card-text">Amount : {{item.amount}}</p>
						<p class="card-text">Description : {{item.description}}</p>
					</div>
					<div class="btn-group">
						<a href="{% url 'main:add_item' item.id %}" class="btn btn-primary">+</a>
						<a href="{% url 'main:decrease_item' item.id %}" class="btn btn-primary">-</a>
						<a href="{% url 'main:remove_item' item.id %}" class="btn btn-danger">Remove</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

{% endblock content %}